<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/header.css}">
<title>Insert title here</title>
</head>

<body>

    <!-- 헤더 -->
    <div th:replace="~{header :: header}"></div>


    <!-- 상단 -->
    <section class="company-top-section">

        <div class="top-inner">

            <p class="top-sub-title">
                BNK 기업 금융
            </p>

            <h1 class="top-title">
                기업 상품몰
            </h1>

            <p class="top-desc">
                기업 고객을 위한 맞춤 금융상품을 만나보세요.
            </p>

        </div>

    </section>



    <!-- 상품 리스트 -->
    <section class="company-product-section">

        <div class="company-product-inner">

            <div class="company-product-grid">

                <div class="company-product-card"
                     th:each="item : ${products.products}">

                    <!-- 상품 타입 -->
                    <div class="company-card-top">

                        <span class="company-category"
                              th:text="${item.rateCategory}">
                            국내
                        </span>

                        <span class="company-type"
                              th:text="${item.productType}">
                            예금
                        </span>

                    </div>


                    <!-- 상품명 -->
                    <h2 class="company-product-name"
                        th:text="${item.productName}">
                        상품명
                    </h2>


                    <!-- 설명 -->
                    <p class="company-product-desc"
                       th:text="${item.productDesc}">
                        상품 설명
                    </p>


                    <!-- 금리 -->
                    <div class="company-rate-box">

                        <p>
                            최고 금리
                        </p>

                        <h3>
                            연
                            <span th:text="${item.maxRate}">
                                4.5
                            </span>
                            %
                        </h3>

                    </div>


                    <!-- 정보 -->
                    <div class="company-info-wrap">

                        <div class="company-info-row">

                            <span>
                                가입기간
                            </span>

                            <span>
                                <span th:text="${item.minPeriodMonth}"></span>
                                ~
                                <span th:text="${item.maxPeriodMonth}"></span>
                                개월
                            </span>

                        </div>


                        <div class="company-info-row">

                            <span>
                                가입금액
                            </span>

                            <span>
                                <span th:text="${#numbers.formatInteger(item.minAmount, 3, 'COMMA')}"></span>
                                원~
                            </span>

                        </div>

                    </div>


                    <!-- 버튼 -->
                    <a class="company-detail-btn"
                       th:href="@{/product/{id}(id=${item.productId})}">

                        상품 상세보기

                    </a>

                </div>

            </div>

        </div>

    </section>


    <!-- 푸터 -->
    <div th:replace="~{footer :: footer}"></div>

</body>

</html>